<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ramen Buffet</title>
	<link rel="stylesheet" href="assets/base.css">
</head>
<body>
	<section id="todoapp">
		<header id="header"></header>
		<section id="main"></section>
		<footer id="footer"></footer>
	</section>
	<footer id="info">
	<p>Double-click to edit a todo</p>
		<p>Ramen Buffet by <a href="http://github.com/ramen-buffet-marionette">Evan Turner</a>
				using <a href="http://marionettejs.com">Backbone.Marionette</a>
			</p>
			<p>Based Upon <a href="http://addyosmani.github.io/backbone-fundamentals/#marionette-todo-app">This</a>.</p>
		</footer>

		<script type="text/html" id="template-footer">
		<span id="todo-count"><strong class="count"></strong> <span class="label"></span> left</span>
		<ul id="filters">
			<li>
				<a href="#">All</a>
			</li>
			<li>
				<a href="#active">Active</a>
			</li>
			<li>
				<a href="#completed">Completed</a>
			</li>
		</ul>
		<button id="clear-completed">Clear completed <span class="count"></span></button>
	</script>

	<script type="text/html" id="template-header">
		<h1>todos</h1>
		<input id="new-todo" placeholder="What needs to be done?" autofocus>
	</script>

	<script type="text/html" id="template-todoItemView">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
			<label><%= title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%= title %>">
	</script>

	<script type="text/html" id="template-todoListCompositeView">
		<input id="toggle-all" type="checkbox">
		<label for="toggle-all">Mark all as complete</label>
		<ul id="todo-list"></ul>
	</script>


	<script src="js/lib/jquery.js"></script>
  <script src="js/lib/underscore.js"></script>
  <script src="js/lib/backbone.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>
  <script src="js/lib/backbone.marionette.js"></script>
  <script src="js/lib/bootstrap.min.js"></script>
  <script src="js/TodoMVC.js"></script>
	<script src="js/TodoMVC.Todos.js"></script>
	<script src="js/TodoMVC.Layout.js"></script>
	<script src="js/TodoMVC.TodoList.Views.js"></script>
	<script src="js/TodoMVC.TodoList.js"></script>
	<script src="js/main.js"></script>
</body>
</html>